@font-face {
    font-family: 'inter';
    src: url(../fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    background-color: #252525;
    padding: 0;
    margin: 0;
    max-width:100%;
	height:auto;
    background-size: 100% contain;
    background-image: url(../imagens/background_losa.png);
    font-family: helvetica;
}
main{
    padding: 0.2rem;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #35812e;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 5em;
    width: 100%;
    
}
.criarlembrete{
    width: 100%;
    display: flex;
    flex-direction: column;
}
header h1{
    color: #fffb00;
    -webkit-text-stroke: 1px #000000;
}
.img_home img{
    width: 5em;
}
nav img{
    width: 5em;
}
.img_home{
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
}
.logo_home{
    width: 33.33%;
    display: flex;
    justify-content: center;

}
nav{
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
}
.desctask{
    resize: none;
    border-radius: 15px;
    border: #35812e solid 4px;
}
#lembretes{
    font-weight: 900;
    color: #ff0000;
    display: flex;
    flex-direction: column-reverse;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info i{
    margin-left: 2rem;
}
.texto{
    padding-left: 1rem;
    font-weight: 600;
    width: 100%;
    word-wrap: break-word;
}
.lembrete{
    padding: 0.5rem;
    border: solid 4px #35812e;
    border-radius: 15px;
    background-size:100%;
    color: #000000;
    margin-bottom: 0.7rem;
    backdrop-filter: blur(5px);
    background-image: url(../imagens/background-task.png);
}
.fa-window-close{
    cursor: pointer;
}
.button{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.button button{
    width: 100%;
    border-radius: 10px;
}
.texto{
    margin-left: 10px;
}
.fa-window-close{
    margin-right: 10px;
}
.row{
    width: 100%;
}
